<h1>Heroes</h1>
<hr>

<div class="row">
    <div class="col-md-12 text-right mb-5">
        <button [routerLink]="['/hero', 'new']" class="btn btn-outline-primary" type="button">
            New Hero
        </button>
    </div>
</div>

<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">House</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of heros | keys; let i = index">
                        <th>{{ i+1 }}</th>
                        <td>{{ heros[k].name }}</td>
                        <td>{{ heros[k].house }}</td>
                        <td>Edit / Delete</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>