<h3>Hero</h3>
<button [routerLink]="['/home']" class="btn btn-secondary">Back</button>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <form (ngSubmit)="save()" #formHero="ngForm">
            <div class="form-group">
                <label>Name</label>
                <input 
                    [(ngModel)]="hero.name"
                    name="name"
                    type="text" 
                    class="form-control" 
                    placeholder="name" 
                    required>
            </div>

            <div class="form-group">
                <label>House</label>
                <select [(ngModel)]="hero.house"
                        name="house" 
                        class="form-control">
                    <option value="DC">DC</option>
                    <option value="Marvel">Marvel</option>
                </select>
            </div>

            <div class="form-group">
                <label>Bio</label>
                <textarea 
                        [(ngModel)]="hero.bio"
                        name="bio"
                        rows="6"
                        class="form-control">
                </textarea>
            </div>

            <div class="form-group">
                <button [disabled]="!formHero.valid" type="submit" class="btn btn-outline-primary">Add hero</button>
            </div>
        </form>
    </div>
</div>

